<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="WPFUserEntities" connectionString="metadata=res://*/Models.DB.WPFUserModel.csdl|res://*/Models.DB.WPFUserModel.ssdl|res://*/Models.DB.WPFUserModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=[DB Server];initial catalog=WPFUser;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>